.border{
    margin: 3px;
    border: 2px solid red;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #202020;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.rounded{
    border-radius: 5px ;
}
.margin{
    margin: 5px;
}
.p-1{
    padding: 7px;
}